{% extends "base.html" %}

{% block content %}
<h3>Search Vehicle Database</h3>

<p>Select the vehicle details below to run a diagnostic check.</p>

<form action="/analyze" method="POST">
    <table border="1" cellpadding="5" cellspacing="0" width="80%" align="center" style="background-color: #ffffff;">
        <tr>
            <td width="30%"><b>Year:</b></td>
            <td>
                <select name="year" id="vehicle_year" required style="width: 95%;">
                    <option value="" disabled selected>-- Select Year --</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2012">2012</option>
                    <option value="2015">2015</option>
                    <option value="2026">2026</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Make:</b></td>
            <td>
                <select name="make" id="vehicle_make" required style="width: 95%;" disabled>
                    <option value="" disabled selected>-- Select Make --</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Model:</b></td>
            <td>
                <select name="model" id="vehicle_model" required style="width: 95%;" disabled>
                    <option value="" disabled selected>-- Select Model --</option>
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top"><b>Listing Text:</b><br><small>(Paste seller ad here)</small></td>
            <td>
                <textarea name="listing_text" rows="8" style="width: 95%; overflow: hidden;"></textarea>
            </td>
        </tr>
        <!-- hidden CARFAX row -->
        <tr id="carfax_row" style="display: none;">
            <td valign="top"><b>CARFAX Text:</b><br><small>(Paste report here)</small></td>
            <td>
                <textarea name="carfax_text" rows="8" style="width: 95%; overflow: hidden;"></textarea>
            </td>
        </tr>
    </table>
    
    <br>
    <center>
        <input type="button" id="carfax_btn" value="[+] Add CARFAX report">
        <br><br>
        <input type="submit" value=">> SEARCH <<">
        <input type="reset" value="Clear" id="reset_btn">
    </center>
</form>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}